$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-weight: 700;

$box-shadow-sm: 0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));

$primary: #eb7c04;
$secondary: #3D1D00;

$btn-font-size: 14px;
$btn-padding-y: 0.6rem;
$btn-padding-x: 1rem;
$btn-font-weight: 600;

$dropdown-font-size: 14px;
$dropdown-link-active-bg: var(--bs-light);

$slick-arrow-color: $primary !important;