body {
    background-color: #F7FAFC;
}

.btn-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-btn-hover-color);
}

.btn-outline-primary {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-white);
}

.btn-outline-light {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: #ced4da;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-border-color: var(--bs-btn-border-color);
    --bs-btn-active-border-color: var(--bs-btn-border-color);
}

.btn-outline-check {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: #ced4da;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-border-color: var(--bs-btn-border-color);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-bg: #{tint-color(#eb7c04, 75%)};
    --bs-btn-active-color: var(--bs-primary);
}

.btn-reply {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: #{tint-color(#3D1D00, 75%)};
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
}

.bd-custom .btn {
    margin: 0.25rem 0.125rem
}

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar {
    font-size: 14px;
    font-weight: 600;
}

#header {
    padding: 2rem 0;
}

#subscription {
    padding: 8rem 0;
    background-color: #3d1d0014;
}

#recipe {
    padding: 6rem 0;
}